@import url("/estilos/cabecalho.css");
@import url("/estilos/banner.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --cor-de-fundo: #FFFFFF;
    --cinza: #3A404E;
    --cinza-claro: #667085;
    --cinza-escuro: #101828;
    --vinho: #8E2424;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    width: 100%;
    height: 100vh;
}